node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.example
# Local Worker secrets, written by `bun run setup`.
.dev.vars
.dev.vars.*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo
